* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #dfd9d9; }

/* HEADER */
/* Navbar */
nav div a img {
  height: auto;
  width: 50%; }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100vw;
  position: relative;
  overflow: hidden; }

.index-Texto-1 {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 40%; }

.img-uno {
  background-image: url(/multimedia/img/juegosEnCirculo.jpg); }

.img-dos {
  background-image: url(/multimedia/img/juegosEnCirculo.jpg); }

.footer-section {
  background: #151414;
  position: relative; }

.footer-logo {
  margin-bottom: 30px; }

.footer-logo img {
  max-width: 200px; }

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px; }

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px; }

.footer-social-icon a {
  color: #fff;
  font-size: 10px;
  margin-right: 15px; }

.footer-social-icon .iconify {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%; }

.facebook-bg {
  background: #3B5998; }

.twitter-bg {
  background: #55ACEE; }

.instagram-bg {
  background: #e7a10a; }

.google-bg {
  background: #DD4B39; }

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative; }

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #DB202C; }

.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px; }

.footer-widget ul li a:hover {
  color: #DB202C; }

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize; }

.subscribe-form {
  position: relative;
  overflow: hidden; }

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff; }

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #DB202C;
  padding: 13px 20px;
  border: 1px solid #DB202C;
  top: 0; }

.subscribe-form button .iconify {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg); }

.copyright-area {
  background: #202020;
  padding: 25px 0; }

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787; }

.copyright-text p a {
  color: #DB202C; }

.contacto {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/multimedia/img/Background-League-Of-Legends.jpg);
  background-size: cover; }

.contacto .contacto__content {
  max-width: 800px;
  text-align: center; }

.contacto .contacto__content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff; }

.contacto .contacto__content p {
  font-weight: 300;
  color: #fff; }

.contacto__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

.contacto__container .contactoInfo {
  width: 50%;
  display: flex;
  flex-direction: column; }

.contacto__container .contactoInfo .contactoInfo__box {
  position: relative;
  padding: 20px 0;
  display: flex; }

.contacto__container .contactoInfo .contactoInfo__box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  font-size: 22px; }

.contacto__container .contactoInfo .contactoInfo__box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300; }

.contacto__container .contactoInfo .contactoInfo__box .text h3 {
  font-weight: 500;
  color: #00bcd4; }

.contactoForm {
  width: 50%;
  padding: 40px;
  background: #fff; }

.contactoForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500; }

.contactoForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px; }

.contactoForm .inputBox input,
.contactoForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none; }

.contactoForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666; }

.contactoForm .inputBox input:focus ~ span,
.contactoForm .inputBox input:valid ~ span,
.contactoForm .inputBox textarea:focus ~ span,
.contactoForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px); }

.contactoForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px; }

@media (max-width: 768px) {
  .contacto {
    padding: 0%; }
    .contacto .contacto__container {
      flex-direction: column; }
      .contacto .contacto__container .contactoInfo {
        margin-bottom: 40px;
        width: 100%; }
      .contacto .contacto__container .contactoForm {
        width: 100%; } }

.animacion {
  overflow: hidden; }

.animacion-background-1 {
  height: 160px;
  width: 100vw;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url(/multimedia/img/animacion-background-1.png);
  animation: animarBackground-1 16s infinite; }

.animacion-background-2 {
  height: 160px;
  width: 100vw;
  margin-bottom: 10px;
  background-image: url(/multimedia/img/animacion-background-2.png);
  animation: animarBackground-2 18s infinite; }

.animacion-background-3 {
  height: 160px;
  width: 100vw;
  margin-bottom: 10px;
  background-image: url(/multimedia/img/animacion-background-3.png);
  animation: animarBackground-3 20s infinite; }

@keyframes animarBackground-1 {
  0% {
    background-position: 0px; }
  100% {
    background-position: -1860px; } }

@keyframes animarBackground-2 {
  0% {
    background-position: 0px; }
  100% {
    background-position: -1860px; } }

@keyframes animarBackground-3 {
  0% {
    background-position: 0px; }
  100% {
    background-position: -1860px; } }

.btn {
  background: #171c20;
  border: 1px solid #f02a089c;
  color: whitesmoke;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  border-radius: 30px;
  padding: 7px 40px;
  display: inline-block;
  margin-top: 20px; }

.btn:hover {
  background: #f31404;
  border: 1px solid #f02a089c;
  color: whitesmoke; }

/* INDEX - SECTION */
.section-1 div .index-Texto-1 {
  position: absolute;
  top: 40%;
  text-align: center; }
  .section-1 div .index-Texto-1 .index-Title-1 {
    color: #0D6EFD; }

.section-1 div {
  padding-top: 5px;
  padding-bottom: 5px; }
  .section-1 div h2 {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px; }
  .section-1 div p {
    text-align: center; }

.section-2 article .section-2__description {
  font-size: 20px; }

.section-2 div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end; }
  .section-2 div div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-2 div div .section-2__icon {
      font-size: 70px; }
    .section-2 div div .section-2__name {
      font-size: 30px; }

/* SECTION - SUSCRIPCION */
.suscripcion {
  padding: 10px 0; }

.price-table {
  text-align: center;
  overflow: hidden;
  margin: 20px;
  background: #fff;
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.2), 0 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px; }

.col-sm-4:hover {
  transform: scale(1.1); }

.price-table .price-head {
  padding: 50px;
  background: linear-gradient(45deg, #e71d38, #fa0000);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; }

.price-table .price-head h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 700; }

.price-table .price-head h2 {
  margin: 0;
  padding: 20px 0 0;
  font-size: 2rem;
  color: #fff; }

.price-content {
  position: relative; }

.price-content ul {
  position: relative;
  margin: 0;
  padding: 20px 0; }

.price-content ul li {
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0;
  color: #777;
  cursor: pointer;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transition: .5s; }

.price-content ul li:hover {
  border-left: 15px solid #9e02c5;
  border-right: 15px solid #9e02c5; }

.price-button {
  padding: 0 0 30px; }

.price-button a {
  padding: 10px 40px;
  background: linear-gradient(45deg, #f321d6, #5121f3);
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none; }

/* PAGE - JUEGOS */
.juegos-banner {
  background-image: url(../multimedia/img/fortnite.jpg);
  background-size: cover;
  background-position: top;
  height: 700px; }

/* section - catalogo */
.catalogo__img {
  object-fit: contain; }

.color-Basic {
  background-color: #c2b722;
  color: white; }

.color-Pro {
  background-color: #c92121;
  color: white; }

.color-Ultra {
  background-color: #b41fa0; }

@media (max-width: 768px) {
  .download {
    display: flex;
    flex-direction: column; }
    .download .download__android {
      margin: 10px; }
    .download .download__all {
      margin: 10px; } }

@media (max-width: 576px) {
  .download {
    display: flex;
    flex-direction: column; }
    .download .download__android {
      margin: 10px; }
    .download .download__all {
      margin: 10px; } }

/* PAGE - FORMULARIO */
.formulario {
  color: white;
  background-image: url(../multimedia/img/contacto_background.jpg);
  background-size: cover;
  background-position: center; }

.formulario__container {
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.6); }

@media (max-width: 768px) {
  section .formulario__container {
    width: 90vw; } }

@media (max-width: 576px) {
  section .formulario__container {
    width: 100vw; } }
