/* INDEX - SECTION */
// SECTION - 1
.section-1 {
    div{
        padding-top: 5px;
        padding-bottom: 5px;
        h2{
            text-align: center;
            padding-top: 3px;
            padding-bottom: 3px;
            @extend %estilosTitulos;
        }
        p{
            text-align: center;
            font-size: 1.3rem;

        }
    }
}
// SECTION - 2
.section-2{
    article{
        .section-2__title{
            @extend %estilosTitulos;
        }
        .section-2__description{
            font-size: 20px;
        }
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;

            .section-2__icon{
                font-size: 70px;
            }
            .section-2__name{
                font-size: 30px;
            }
        }
    }
}
.section-2__disp:hover{
    color: #DB202C;
    transform: scale(1.03);
}

.suscripcion{
    h2{
        @extend %estilosTitulos;
    }
}
.preguntas{
    div{
        h2{
            @extend %estilosTitulos;
        }
    }
}