/* INDEX - SECTION */
section{
    div{
        div{
            div{
                .section_img{
                        height: 50vh;
                }
            }
        }
    }
    div{
        div{
            div{
                .section_img{
                        height: 50vh;
                }
            }
        }
    }
    div{
        div{
            div{
                .section_img{
                        height: 50vh;
                }
            }
        }
    }
}
.index-Title{
    color: $colorTitle;
    text-align: center;
}