/* PAGE - JUEGOS */
/* section - catalogo */
.colorBasic{
    background-color: $basicColor;
    color: white;
}
.colorPro{
    background-color: $proColor;
    color: white;
}
.colorUltra{
    background-color: $ultraColor;
    color: white;
}