.form-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sizes(100%, 100%);
    padding: 20px 100px;
}
.form-container:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    @include sizes(100%, 100%);
    background: url(/multimedia/img/backgroundJuegosFlotando.webp) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
}
.form-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.left{
    height: 100%;
    background: url(/multimedia/img/backgroundJuegosFlotando.webp) no-repeat center;
    background-size: cover;
}
.right{
    padding: 25px 40px;
}
.right__title{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.right__title:after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #DB202C;
}
.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.field:focus{
    background-color: #fff;
    border: 2px solid rgba(250, 30, 30, 0.47);
}
.area{
    min-height: 150px;
}
.form-btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #DB202C;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}
.form-btn:hover{
    background-color: #af1a24;
}
@media (max-width: 768px){
    .form-container{
        .form-box{
            grid-template-columns: 1fr;
            .left{
                height: 200px;
            }
        }
    }
}