/* HEADER */
/* Navbar */
nav {
    div {
        a {
            .logo-img {
                width: 30px;
                height: 100%;
            }

            .logo-name {
                color: red;
            }
        }
    }
}