.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	max-width: 100vw;
	position: relative;
    overflow: hidden;
}

.index-Texto-1{
	color:#fff;
	position: absolute;
	text-align: center;
	top:40%;
}
	
.img-uno{background-image: url(/multimedia/img/juegosEnCirculo.jpg)}
.img-dos{background-image: url(/multimedia/img/juegosEnCirculo.jpg)}

