// fuentes
$fuentePrincipal: 'Roboto', sans-serif;

// colores
$backgroundColor: rgb(223, 217, 217);
$colorTitle: #0D6EFD;

// suscripciones
$basicColor: rgb(194, 183, 34);
$proColor: rgb(201, 33, 33);
$ultraColor: rgb(180, 31, 160);